<!DOCTYPE html>

<html lang="en">

<head>

    {% include "head.html" %}

    <meta name="description" content="Account of this Python and Django Website">
    <title>Reset Password</title>

</head>

<body>

    {% include "bootstrap.html" %}
    {% include "navbar.html" %}

    <div class="container">

        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <br />

                <!--13-08-2025 - Validation of the Token from the Users Reset Password Email -->
                {% if token_fail %}
                <p>The Token failed !</p>
                <p>Please use the <a href="{% url 'account_reset_password' %}">Reset Password</a> for getting another
                    Token ...</p>
                {% else %}
                <p>The Token is valid, and you can Reset your Password in the Form below:</p>

                <h2>Reset Password</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Change password</button>
                </form>

                {% endif %}


            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>