{% load i18n %}
<!DOCTYPE html>

<html lang="en">

<head>

  {% include "head.html" %}

  <meta name="description" content="Member Profile of this Python and Django Website">
  <title>Profile</title>


</head>

<body>


  {% include "bootstrap.html" %}
  {% include "navbar.html" %}


  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
           
           <!--13-08-2025 - If there are any Messages they will be cleared
           - they are used as feedback in Change Password-->
           {% if messages %}
                 {% for message in messages %} {% endfor %}
            {% endif %}

        <br />

        {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username }}!</h2>
        <p>You are currently logged in.</p>
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
        {% else %}
        <h2>You are not logged in</h2>
        <p>Please log in or sign up to access all features.</p>
        {% endif %}

        <h2>Options:</h2>
        <ul>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          <li><a href="{% url 'account_login' %}">Log In</a></li>
          {% endif %}
          {% if user.is_authenticated %}
           <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
           <li><a href="{% url 'account_email' %}">Manage Email</a></li>
           <li><a href="/close-account">Deactivate your Account</a></li>
           <li><a href="/cancel-account">Delete your Account</a></li>
          {% endif %}
          <li><a href="{% url 'account_reset_password' %}">Reset Password</a></li>
        </ul>

      </div>
    </div>
  </div>

  
    {% include "footer.html" %}

</body>